services:
  db:
    image: postgres:17
    container_name: postgres_db
    restart: always
    env_file:
      - .env.postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  api:
    build: .
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always
    networks:
      - backend
  
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api
    restart: always
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend: